{{ 'banner-collection.css' | asset_url | stylesheet_tag: preload: true }}

<div class="new-design-collection  show_featured_block">
  <div class="outer-head bg-black">
    <div class="container-fluid">
     
      <div class="collection-featured-block">
          {% for product in collection.products %}
     {% if forloop.index == 1%}
        <a href="{{product.url }}" class="position-absolute1 d-flex flex-column d-md-flex flex-md-row align-items-md-center">
          <div class="col-md-7 col-12 order-2 order-sm-0 mt-5 mt-md-0 p-0">
            <p class="small-text">{{ collection.title }}</p>
         
       

     <h2 class="featured-heading" >{{ product.title }}</h2> 
            <p class="featured-subheading m-0">{{ product.description }}</p>
  

      
         
          </div>
          <div class="col-md-5 col-12">
            <div class="featured-image">
            {% if product.images.size >= 3 %}
  <img src="{{ product.images[2].src | product_img_url: '' }}" width="78%" alt="{{ product.images[2].alt | escape }}">
{% endif %}
             
            </div>
          </div>
        </a>
          {% endif %}
 {% endfor %} 
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Banner Collection",
    "settings": [
      {
        "type":"text",
        "label":"Heading",
        "id":"heading"
      }
    ],
    	"presets": [
    {
      "name": "Custom Banner Collection"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
  .collection-featured-block .featured-subheading {
    font-size:30px !important;
    margin-top:20px !important;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}