<section id="shopify-section-template--16710756106463__45c7bc78-3ed2-48a9-a392-1224ce46ebca" class="shopify-section homepage_category_slider_v2_section vertical_scroll_categroy_section page-width dark-bg">
  <!-- <link href="//ghostdrops.com/cdn/shop/t/42/assets/homepage-category-slider-v2.css?v=165506944633478397111681999404" rel="stylesheet" type="text/css" media="all"> -->
<!-- <link href="//ghostdrops.com/cdn/shop/t/42/assets/vertical-scroller.css?v=162287559749555082561682013868" rel="stylesheet" type="text/css" media="all"> -->

<style>
  .homepage_category_slider_v2_section{padding-top:25px;overflow-x:hidden;padding-left:40px;padding-right:40px}.homepage_category_slider_v2_heading{font-family:"RBNo3.1-Bold";font-style:normal;font-weight:450;font-size:24.2138px;line-height:100%;color:#fff;margin:0;text-align:center}.category_slider,.homepage_category_slider_v2_slider,.homepage_category_slider_v2_inner,.homepage_category_slider_v2_container,.homepage_category_slider_v2_wrapper{width:100%;display:block}.homepage_category_slider_v2_section .slide{border-radius:33.6303px}.homepage_category_slider_v2_block_inner{padding:63px 58px;display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:100%}.homepage_category_slider_v2_block{height:100%}.homepage_category_slider_v2_section{--swiper-scrollbar-border-radius: 10px;--swiper-scrollbar-top: auto;--swiper-scrollbar-bottom: auto;--swiper-scrollbar-left: auto;--swiper-scrollbar-right: 4px;--swiper-scrollbar-sides-offset: 13%;--swiper-scrollbar-bg-color: #EAEAEA;--swiper-scrollbar-drag-bg-color: #B93AC6;--swiper-scrollbar-size: 5px}.homepage_category_slider_v2_section .swiper,.homepage_category_slider_v2_section swiper-container{overflow:visible;cursor:grabbing}p.coming__soon{text-align:center;font-family:"RBNo3.1";font-style:normal;font-weight:450;font-size:20px;line-height:100%;color:#fff}.homepage_category_slider_v2_section .swiper_scrollbar{left:50%;transform:translate(-50%);background:#fff}.homepage_category_slider_v2_section swiper-slide.v_scroller{min-width:391px;max-width:391px!important;height:574px}.homepage_category_slider_v2_section swiper-slide.v_scroller:not(:last-child){margin-right:64px!important}.homepage_category_slider_v2_block_img_wrapper{display:flex;align-items:flex-end}.homepage_category_slider_v2_block_img lottie-player{transform:scale(1.5)}.homepage_category_slider_v2_slider{padding-bottom:75px}.slide-in-bottom{-webkit-animation:slide-in-bottom .4s ease;animation:slide-in-bottom .4s ease}@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}to{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}to{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@media screen and (min-width: 630px){.homepage_category_slider_v2_section{--swiper-scrollbar-sides-offset: 30%}}@media screen and (min-width: 990px){.homepage_category_slider_v2_section{--swiper-scrollbar-sides-offset: 38.8%}}@media screen and (min-width: 1441px){.homepage_category_slider_v2_section .swiper-horizontal{padding-left:170px;padding-right:170px}.swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal{left:50%;transform:translate(-50%);cursor:pointer;margin-top:96px}}@media (min-width: 768px){.homepage_category_slider_v2_heading{font-size:50px}}@media (max-width: 767px){.homepage_category_slider_v2_section swiper-slide.v_scroller{min-width:228.51px;max-width:228.51px!important;height:337px}.homepage_category_slider_v2_section swiper-slide.v_scroller:not(:last-child){margin-right:23.45px!important}.homepage_category_slider_v2_block_inner{padding:37px 39px}.homepage_category_slider_v2_heading{font-size:26.2138px}.homepage_category_slider_v2_block_img{transform:scale(1.2)}}.slide-link{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
/*# sourceMappingURL=/cdn/shop/t/42/assets/homepage-category-slider-v2.css.map?v=165506944633478397111681999404 */
  .vertical_scroll_categroy_section{transition:.5s all}.homepage_vertical_slider{display:flex;width:100%;overflow:auto}.scroller-container{display:flex;overflow:hidden;width:100%;margin:0 auto;gap:30px;overflow-x:scroll}.progress-bar-sc{width:30%;margin:50px auto;position:relative;height:5px;background:#eaeaea;border-radius:5px;overflow:hidden}.progress-bar-indicator{position:absolute;top:0;left:0;height:100%;background:var(--swiper-scrollbar-drag-bg-color,rgba(0,0,0,.5));border-radius:5px;width:50px}.progress-bar-container{width:100%;bottom:0}.scroller-container::-webkit-scrollbar{display:none}
/*# sourceMappingURL=/cdn/shop/t/42/assets/vertical-scroller.css.map?v=162287559749555082561682013868 */
</style>

<vertical-scroller class="only__desktoip_slid" data-section-id="template--16710756106463__45c7bc78-3ed2-48a9-a392-1224ce46ebca" data-lottie-player="true">
  <div class="pin scroll-content-wrapper">
    <div class="scroller-container container-template--16710756106463__45c7bc78-3ed2-48a9-a392-1224ce46ebca">
      
        
          <swiper-slide class="slide panel v_scroller" style="background: {{ section.settings.bgclr }};">
            <div class="homepage_category_slider_v2_block position-relative">
              
                <a href="{{ section.settings.url }}" class="slide-link">
                  <span class="sr-only">{{ section.settings.heading }}</span>
                </a>
              
              <div class="homepage_category_slider_v2_block_inner">
                
                  <div class="homepage_category_slider_v2_block_content">
                    
                      <h2 class="homepage_category_slider_v2_heading">
                       {{ section.settings.heading }}
                      </h2>
                    
                    
                  </div>
                
                <div class="homepage_category_slider_v2_block_img_wrapper">
                  <div class="homepage_category_slider_v2_block_img">
                    
                      {{ section.settings.lottieplayer }}
                    
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
      
        {% for block in section.blocks %}
          {% if 'slide' %}
         <swiper-slide class="slide panel v_scroller" style="background: {{ block.settings.bgclr }};">
            <div class="homepage_category_slider_v2_block position-relative">
              
                <a href="{{ block.settings.url }}" class="slide-link">
                  <span class="sr-only">{{ block.settings.heading }}</span>
                </a>
              
              <div class="homepage_category_slider_v2_block_inner">
                
                  <div class="homepage_category_slider_v2_block_content">
                    
                      <h2 class="homepage_category_slider_v2_heading">
                       {{ block.settings.heading }}
                      </h2>
                    
                      <p class="coming__soon"> {{ block.settings.subheading }}</p>
                  </div>
                
                <div class="homepage_category_slider_v2_block_img_wrapper">
                  <div class="homepage_category_slider_v2_block_img">
                    
                      {{ block.settings.lottieplayer }}
                    
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
      {% endif %}
        {% endfor %}
      
      
        
      
        
        
        
      
        
          
        
      
        
       
        
      
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar-sc">
        <div class="progress-bar-indicator"></div>
      </div>
    </div>
  </div>
</vertical-scroller>

<div class="homepage_category_slider_v2_container only_mobile_slider">
  <div class="homepage_category_slider_v2_wrapper">
    <div class="homepage_category_slider_v2_inner">
      <div class="homepage_category_slider_v2_slider">
        <swiper-slider class="homepage_category_slider" data-lottie-player="true" data-swiperparams="{&quot;direction&quot;:&quot;horizontal&quot;,&quot;freeMode&quot;:{&quot;enabled&quot;:false},&quot;slidesPerView&quot;:3.409,&quot;speed&quot;:300,&quot;enabled&quot;:true,&quot;hide&quot;:false,&quot;slidesPerGroup&quot;:1,&quot;setWrapperSize&quot;:true,&quot;resizeObserver&quot;:true,&quot;updateOnWindowResize&quot;:true,&quot;scrollbar&quot;:{&quot;draggable&quot;:true,&quot;dragSize&quot;:78},&quot;on&quot;:{},&quot;injectStyles&quot;:[&quot;.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {\n                    left: 50%;\n                    transform: translateX(-50%);\n                    cursor: pointer;\n                    margin-top: 56px;\n                }&quot;],&quot;breakpoints&quot;:{&quot;310&quot;:{&quot;slidesPerView&quot;:1.02,&quot;spaceBetween&quot;:14,&quot;scrollbar&quot;:{&quot;draggable&quot;:true,&quot;dragSize&quot;:43},&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true},&quot;520&quot;:{&quot;slidesPerView&quot;:1.02,&quot;spaceBetween&quot;:30,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true},&quot;680&quot;:{&quot;slidesPerView&quot;:1.032,&quot;spaceBetween&quot;:35,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true},&quot;769&quot;:{&quot;slidesPerView&quot;:2.9,&quot;spaceBetween&quot;:40,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true},&quot;1101&quot;:{&quot;slidesPerView&quot;:3.47,&quot;spaceBetween&quot;:45,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true,&quot;scrollbar&quot;:{&quot;draggable&quot;:true,&quot;dragSize&quot;:78}},&quot;1441&quot;:{&quot;slidesPerView&quot;:2.6,&quot;spaceBetween&quot;:64,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true},&quot;1761&quot;:{&quot;slidesPerView&quot;:3.47,&quot;spaceBetween&quot;:64,&quot;snapGrid&quot;:&quot;auto&quot;,&quot;snapToStart&quot;:true}}}">
          <swiper-container class="category_slider_container swiper-initialized {{ section.id }}swiper-horizontal heightadjust" init="false">
            
              
              <swiper-slide class="slide" style="background: {{ section.settings.bgclr }};">
                  
                  <a href="{{ section.settings.heading }}">
                  
                  <div class="homepage_category_slider_v2_block">
                    <div class="homepage_category_slider_v2_block_inner">
                      
                        <div class="homepage_category_slider_v2_block_content">
                          
                            <h2 class="homepage_category_slider_v2_heading">
                              {{ section.settings.heading }}
                            </h2>
                          
                          
                            <p class="coming__soon"> {{ section.settings.subheading }}</p>
                          
                        </div>
                      
                      <div class="homepage_category_slider_v2_block_img_wrapper">
                        <div class=" homepage_category_slider_v2_block_lottie_player">
                          
                         {{ section.settings.lottieplayer }}
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </a>
                  
                </swiper-slide>
              
              {% for block in section.blocks %}
          {% if 'slide' %}
               <swiper-slide class="slide" style="background: {{ block.settings.bgclr }};">
                  
                  <a href="{{ block.settings.heading }}">
                  
                  <div class="homepage_category_slider_v2_block">
                    <div class="homepage_category_slider_v2_block_inner">
                      
                        <div class="homepage_category_slider_v2_block_content">
                          
                            <h2 class="homepage_category_slider_v2_heading">
                              {{ block.settings.heading }}
                            </h2>
                          
                          
                            <p class="coming__soon"> {{ block.settings.subheading }}</p>
                          
                        </div>
                      
                      <div class="homepage_category_slider_v2_block_img_wrapper">
                        <div class=" homepage_category_slider_v2_block_lottie_player">
                          
                         {{ block.settings.lottieplayer }}
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </a>
                  
                </swiper-slide>
           {% endif %}
            {% endfor %}
                
              
            
              
          
                 
            
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true" slot="container-end"></span></swiper-container>
        </swiper-slider>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  const category_slider_params = {
    direction: 'horizontal',
    freeMode: {
      enabled: false,
    },
    slidesPerView: 3.409,
    speed: 300,
    enabled: true,
    hide: false,
    slidesPerGroup: 1,
    setWrapperSize: true,
    resizeObserver: true,
    updateOnWindowResize: true,
    scrollbar: {
      draggable: true,
      dragSize: 78,
    },
    on: {
      init: function () {
        console.log('swiper initialized');
      },
    },
    injectStyles: [
      `.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
                    left: 50%;
                    transform: translateX(-50%);
                    cursor: pointer;
                    margin-top: 56px;
                }`,
    ],
    breakpoints: {
      310: {
        slidesPerView: 1.02,
        spaceBetween: 14,
        scrollbar: {
          draggable: true,
          dragSize: 43,
        },
        snapGrid: 'auto',
        snapToStart: true,
      },
      520: {
        slidesPerView: 1.02,
        spaceBetween: 30,
        snapGrid: 'auto',
        snapToStart: true,
      },
      680: {
        slidesPerView: 1.032,
        spaceBetween: 35,
        snapGrid: 'auto',
        snapToStart: true,
      },
      769: {
        slidesPerView: 2.9,
        spaceBetween: 40,
        snapGrid: 'auto',
        snapToStart: true,
      },
      1101: {
        slidesPerView: 3.47,
        spaceBetween: 45,
        snapGrid: 'auto',
        snapToStart: true,
        scrollbar: {
          draggable: true,
          dragSize: 78,
        },
      },
      1441: {
        slidesPerView: 2.6,
        spaceBetween: 64,
        snapGrid: 'auto',
        snapToStart: true,
      },
      1761: {
        slidesPerView: 3.47,
        spaceBetween: 64,
        snapGrid: 'auto',
        snapToStart: true,
      },
    },
  };
  const categorySwiperSlider = document.querySelector('.homepage_category_slider');
  categorySwiperSlider.setAttribute('data-swiperParams', JSON.stringify(category_slider_params));
</script>


</section>
{% schema %}
  {
    "name": "Category Slider",
    "settings": [
    
      {
        "type":"color",
        "id":"bgclr",
        "label":"Background Color"
      },
      {
        "type":"text",
        "id":"url",
        "label":"Enter url"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Enter Heading"
      },
      {
        "type":"textarea",
        "id":"lottieplayer",
        "label":"Enter Lottie Player Code"
      }
    ],
    "blocks":[
      {
        "type":"slide",
        "name":"Slide",
        "settings":[
            {
        "type":"color",
        "id":"bgclr",
        "label":"Background Color"
      },
      {
        "type":"text",
        "id":"url",
        "label":"Enter url"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Enter Heading"
      },
      {
        "type":"textarea",
        "id":"lottieplayer",
        "label":"Enter Lottie Player Code"
      },
          {
        "type":"text",
        "label":"Sub Heading",
        "id":"subheading"
      }
        ]
      }
      
    ],
    	"presets": [
    {
      "name": "Category Slider"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
.homepage_category_slider_v2_heading {
  white-space:nowrap !important;
}
@media screen and (min-width: 430px) and (max-width: 768px) {
  .heightadjust{
    height: 800px !important ;
}
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
